.idea
generated/*

# local cmake builds
/build
/build_nosan
/cmake-build-debug

# local config use to test changes
config/_local.conf

# cquery
.vscode
compile_commands.json
cquery_log.txt

# kdevelop
.kdev4
afina.kdev4
